<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-5">
  <div class="col-8 offset-2">
    <h3>Edit your Listing!</h3>
    <form
      method="post"
      action="/listings/<%=listing._id %>?_method=PUT"
      class="needs-validation"
      enctype="multipart/form-data"
      novalidate
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          name="listing[title]"
          value="<%= listing.title %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Enter a valid Data!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          required
          name="listing[description]"
          class="form-control"
        >
<%= listing.description %>
</textarea
        >
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Enter a valid Data!</div>
      </div>

      <div class="mb-3">
        <div class="mb-3">
          <h3>Original Image :</h3>
          <br />
          <img src="<%= listing.image.url %>" alt="" />
        </div>
        <label for="image" class="form-label">Upload New Image</label>
        <input type="file" name="listing[image]" class="form-control" />
        <div class="valid-feedback">Existing image will applied!!</div>
        
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="listing[price]"
            class="form-control"
            value="<%= listing.price %>"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Enter a valid Data!</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            class="form-control"
            value="<%= listing.country %>"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Enter a valid Data!</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          class="form-control"
          value="<%= listing.location %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Enter a valid Data!</div>
      </div>
      <div class="btn btn-dark mt-4">
        <button type="submit">Edit</button>
      </div>
    </form>
  </div>
</div>
